<div class="container">
    <div class="row">

<!-- Your Angular component template -->
<div class="col-12 col-md-6">
  <p-card [style]="{ 'background-color': '#F8FAFC', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)', 'border-radius': '10px' }">
    <ng-template pTemplate="content">
      <div class="row">
        <div class="p-col-4 col-md-6">
          <div class="section">
            <p>Total Enrolments:</p>
            <p>1.1K</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="p-col-4">
          <div class="section">
            <p>Yet to Start:</p>
            <p>15</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="p-col-4">
          <div class="section">
            <p>In-Progress:</p>
            <p>50</p>
          </div>
        </div>

      </div>
    </ng-template>
  </p-card>

</div>
<p-card [style]="{ 'background-color': '#f0f0f0', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)', 'border-radius': '10px' }">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="p-col-4 col-md-6">
        <div class="section">
          <p>Total Enrolments:</p>
          <p>1.1K</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="p-col-4">
        <div class="section">
          <p>Yet to Start:</p>
          <p>15</p>
        </div>
      </div>
      <div class="divider" style="color: black;"></div>
      <div class="p-col-4">
        <div class="section">
          <p>In-Progress:</p>
          <p>50</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="p-col-6">
        <div class="section">
          <p>Average Progress:</p>
          <p>75%</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="p-col-6">
        <div class="section">
          <p>Average Spend Time:</p>
          <p>42 Min</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-card>

    </div>
  </div>